.mainpage
{
    border: 1px solid black;
    border-radius: 10px;
    justify-content: space-around;
}
.navsection
{
    display: flex; 
    justify-content: space-around;               
}
a:link
{
              
    color: rgb(206, 41, 41);             
    text-decoration:none;
  
}
.search
{
    border-radius: 15px;
    background-color: rgb(183, 150, 129);
    display: block;
}
